{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_recipe_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        {% if is_granted('ROLE_USER') %}
            <div class="button">
                <a href="{{ url('recipe_create') }}" title="{{ 'recipe_create'|trans }}">
                    {{ 'action_create'|trans }}
                </a>
            </div>
        {% endif %}

        <div id="panels">
            <div id="wrapper">
                <div id="innerTrasa">
                    {% for recipe in pagination.items %}
                    <div class="innerTrasapoj">
                        <div class="image-wrapper-trasa"> <a href="{{ asset( 'uploads/noPic.png' ) }}" data-lightbox="photos"><img class="img-fluid duzaIkona" src="{{ asset( 'uploads/noPic.png' ) }}"></a></div>
                        <div class="trasaDescription">
                            <div class="recipe">{{ 'label_title'|trans }} {{ recipe.title }}</div>
                            <div class="recipe">{{ 'label_category'|trans }} {{ recipe.category.name }}</div>
                            <div class="recipe">{{ 'label_portion'|trans }} {{ recipe.portion }}</div>
                            <div class="recipe">{{ 'label_difficulty'|trans }} {{ recipe.difficulty }}</div>
                            <div class="recipe">{{ 'label_calories'|trans }} {{ recipe.calories }}</div>
                            <div clsss="recipeTags">

                                {% if recipe.tags is defined and recipe.tags|length %}
                                    {% for tag in recipe.tags %}
                                        {{ tag.title }}
                                    {% endfor %}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </div>
                            <div class="recipeActions">
                                <a href="{{ url('recipe_show', {id: recipe.id}) }}" title="{{ 'action_view'|trans }}">
                                    {{ 'action_view'|trans }}
                                </a>
                                {% if is_granted('EDIT', recipe) %}

                                    <a href="{{ url('recipe_edit', {id: recipe.id}) }}" title="{{ 'action_edit'|trans }}">
                                        {{ 'action_edit'|trans }}
                                    </a>
                                {% endif %}
                                {% if is_granted('DELETE', recipe) %}
                                <a href="{{ url('recipe_delete', {id: recipe.id}) }}" title="{{ 'action_delete'|trans }}">
                                    {{ 'action_delete'|trans }}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    <p class="button">
        <a href="{{ url('home') }}" title="{{ 'action_back_to_list'|trans }}">
            {{ 'action_back_to_list'|trans }}
        </a>
    </p>
{% endblock %}